<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusConnect</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">

        <h2 class="logo">🎒 CampusConnect</h2>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/report-lost">Report Lost</a></li>
            <li><a href="/report-found">Report Found</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/login">Login</a></li>
        </ul>

    </nav>


    <!-- Hero Section -->

    <section class="hero">

        <h1>Lost Something?</h1>

        <h1>We'll Help You Find It.</h1>

        <p>
            Lost something on campus?
            Report it, search for it, and reconnect with your belongings in just a few clicks.
        </p>

        <div class="buttons">

            <a href="/report-lost">
                <button class="lost-btn">🚨 Report Lost</button>
            </a>

            <a href="/report-found">
                <button class="found-btn">✅ Report Found</button>
            </a>

        </div>

    </section>


    <!-- Latest Posts -->

    <section class="posts">

        <h2>🔥 Latest Reports</h2>

        <div class="cards">

            <div class="card">
                <h3>🎒 Black Backpack</h3>
                <p>📍 Cafeteria</p>
            </div>

            <div class="card">
                <h3>⌚ Smart Watch</h3>
                <p>📍 Basketball Court</p>
            </div>

            <div class="card">
                <h3>📱 iPhone</h3>
                <p>📍 Library</p>
            </div>

        </div>

    </section>


</body>

</html>