<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<div class="form-container">

    <h1>🔐 Login</h1>

    <form>

        <label>Email Address</label>
        <input type="email" placeholder="Enter your college email" required>

        <label>Password</label>
        <input type="password" placeholder="Enter password" required>

        <button type="submit">Login</button>

    </form>

    <p style="text-align:center; margin-top:15px;">
        Don't have an account? Register
    </p>

</div>

</body>