<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<div class="form-container">

    <h1>🚨 Report Lost Item</h1>
    {% if success %}
<p style="color:green; font-weight:bold;">
    ✅ Report submitted successfully!
</p>
{% endif %}

    <form method="POST">

        <label>Item Name</label>
        <input type="text" name="item_name" required>

        <label>Category</label>
        <select name="category">
            <option>Select Category</option>
            <option>Electronics</option>
            <option>Bag</option>
            <option>Books</option>
            <option>ID Card</option>
            <option>Keys</option>
            <option>Other</option>
        </select>

        <label>Location Lost</label>
        <input type="text" name="location" required>

        <label>Description</label>
        <textarea rows="5" name="description"></textarea>

        <label>Phone Number</label>
        <input type="tel" name="phone">

        <label>Email Address</label>
        <input type="email" name="email">

        <button type="submit">Submit Report</button>

    </form>

    <br>

    <a href="/" class="home-btn">🏠 Back to Home</a>

</div>

</body>