<!DOCTYPE html>
<html>
<head>
    <title>Search Items</title>
</head>

<body>

<h1>Search Lost & Found Items</h1>

<input type="text" placeholder="Search item...">

<br><br>

<select>
    <option>All Categories</option>
    <option>Electronics</option>
    <option>Bags</option>
    <option>Books</option>
    <option>ID Cards</option>
    <option>Wallets</option>
</select>

<select>
    <option>All Status</option>
    <option>Lost</option>
    <option>Found</option>
</select>

<hr>

<h2>Results</h2>

<div>
    <h3>🎒 Black Backpack</h3>
    <p>Status: Found</p>
    <p>Location: Cafeteria</p>
    <button>View Details</button>
</div>

<hr>

<div>
    <h3>📱 iPhone 14</h3>
    <p>Status: Lost</p>
    <p>Location: Library</p>
    <button>View Details</button>
</div>

<hr>

<div>
    <h3>⌚ Smart Watch</h3>
    <p>Status: Lost</p>
    <p>Location: Basketball Court</p>
    <button>View Details</button>
</div>

</body>
</html>