<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<div class="form-container">

    <h1>🔍 Search Items</h1>

    <h2>Results</h2>

    {% for report in reports %}

    <div class="card">

        <h3>{{ report.item_name }}</h3>

        <p><strong>Status:</strong> {{ report.status }}</p>

        <p><strong>Category:</strong> {{ report.category }}</p>

        <p><strong>Location:</strong> {{ report.location }}</p>

        <p><strong>Description:</strong> {{ report.description }}</p>

        <p><strong>Phone:</strong> {{ report.phone }}</p>

        <p><strong>Email:</strong> {{ report.email }}</p>

    </div>

    <br>

    {% endfor %}

</div>

</body>